/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define default 0
#define layerOne   1
#define layerTwo   2
#define layerThree  3
#define layerFour  4
#define layerFive 5
#define layerSix  6
#define layerSeven  7

/ {

        conditional_layers {
            compatible = "zmk,conditional-layers";
            layerThree {
                if-layers = <layerOne layerTwo>;
                then-layer = <layerThree>;
            };
            layerSix {
                if-layers = <layerFour layerFive>;
                then-layer = <layerSix>;
            };
        };

        //tecla para hacer macros para windows
        //https://zmk.dev/docs/behaviors/macros
        macros {
                screenshotM: screenshotM {
                        label = "screenshotMac";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LGUI>
                                , <&macro_press &kp LSHFT>
                                , <&macro_press &kp N4>
                                , <&macro_release &kp LGUI>
                                , <&macro_release &kp LSHFT>
                                , <&macro_release &kp N4>
                                ;
                };

                shiftBack: shiftBack {
                        label = "shiftBack";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LSHFT>
                                , <&macro_tap &kp TAB>
                                , <&macro_release &kp LSHFT>
                                ;
                };


                aTildeMinus: aTildeMinus {
                        label = "aTildeMinus";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp KP_N1>
                                , <&macro_tap &kp KP_N6>
                                , <&macro_tap &kp KP_N0>
                                , <&macro_release &kp LALT>
                                ;
                };

                aTildeMayus: aTildeMayus {
                        label = "aTildeMayus";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp KP_N0>
                                , <&macro_tap &kp KP_N1>
                                , <&macro_tap &kp KP_N9>
                                , <&macro_tap &kp KP_N3>
                                , <&macro_release &kp LALT>
                                ;
                };

                eTildeMinus: eTildeMinus {
                        label = "eTildeMinus";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp KP_N1>
                                , <&macro_tap &kp KP_N3>
                                , <&macro_tap &kp KP_N0>
                                , <&macro_release &kp LALT>
                                ;
                };

                eTildeMayus: eTildeMayus {
                        label = "eTildeMayus";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp KP_N1>
                                , <&macro_tap &kp KP_N4>
                                , <&macro_tap &kp KP_N4>
                                , <&macro_release &kp LALT>
                                ;
                };

                 iTildeMinus: iTildeMinus {
                        label = "iTildeMinus";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp KP_N1>
                                , <&macro_tap &kp KP_N6>
                                , <&macro_tap &kp KP_N1>
                                , <&macro_release &kp LALT>
                                ;
                };

                iTildeMayus: iTildeMayus {
                        label = "iTildeMayus";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp KP_N0>
                                , <&macro_tap &kp KP_N2>
                                , <&macro_tap &kp KP_N0>
                                , <&macro_tap &kp KP_N5>
                                , <&macro_release &kp LALT>
                                ;
                };

                oTildeMinus: oTildeMinus {
                        label = "oTildeMinus";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp KP_N1>
                                , <&macro_tap &kp KP_N6>
                                , <&macro_tap &kp KP_N2>
                                , <&macro_release &kp LALT>
                                ;
                };

                oTildeMayus: oTildeMayus {
                        label = "oTildeMayus";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp KP_N0>
                                , <&macro_tap &kp KP_N2>
                                , <&macro_tap &kp KP_N1>
                                , <&macro_tap &kp KP_N1>
                                , <&macro_release &kp LALT>
                                ;
                };

                uTildeMinus: uTildeMinus {
                        label = "uTildeMinus";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp KP_N1>
                                , <&macro_tap &kp KP_N6>
                                , <&macro_tap &kp KP_N3>
                                , <&macro_release &kp LALT>
                                ;
                };

                uTildeMayus: uTildeMayus {
                        label = "uTildeMayus";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp KP_N0>
                                , <&macro_tap &kp KP_N2>
                                , <&macro_tap &kp KP_N1>
                                , <&macro_tap &kp KP_N7>
                                , <&macro_release &kp LALT>
                                ;
                };

                nMinus: nMinus {
                        label = "nMinus";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp KP_N1>
                                , <&macro_tap &kp KP_N6>
                                , <&macro_tap &kp KP_N4>
                                , <&macro_release &kp LALT>
                                ;
                };

                nMayus: nMayus {
                        label = "nMayus";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp KP_N1>
                                , <&macro_tap &kp KP_N6>
                                , <&macro_tap &kp KP_N5>
                                , <&macro_release &kp LALT>
                                ;
                };
        };

        //Para alternar tecla con un modificador
        //https://zmk.dev/docs/behaviors/mod-morph
        behaviors {
                tildeA: tildeA {
                        compatible = "zmk,behavior-mod-morph";
                        label = "tildeA";
                        #binding-cells = <0>;
                        bindings = <&aTildeMinus>, <&aTildeMayus>;
                        mods = <MOD_LSFT>;
                };

                tildeE: tildeE {
                        compatible = "zmk,behavior-mod-morph";
                        label = "tildeE";
                        #binding-cells = <0>;
                        bindings = <&eTildeMinus>, <&eTildeMayus>;
                        mods = <MOD_LSFT>;
                };

                tildeI: tildeI {
                        compatible = "zmk,behavior-mod-morph";
                        label = "tildeI";
                        #binding-cells = <0>;
                        bindings = <&iTildeMinus>, <&iTildeMayus>;
                        mods = <MOD_LSFT>;
                };

                tildeO: tildeO {
                        compatible = "zmk,behavior-mod-morph";
                        label = "tildeO";
                        #binding-cells = <0>;
                        bindings = <&oTildeMinus>, <&oTildeMayus>;
                        mods = <MOD_LSFT>;
                };

                tildeU: tildeU {
                        compatible = "zmk,behavior-mod-morph";
                        label = "tildeU";
                        #binding-cells = <0>;
                        bindings = <&uTildeMinus>, <&uTildeMayus>;
                        mods = <MOD_LSFT>;
                };

                specialN: specialN {
                        compatible = "zmk,behavior-mod-morph";
                        label = "specialN";
                        #binding-cells = <0>;
                        bindings = <&nMinus>, <&nMayus>;
                        mods = <MOD_LSFT>;
                };


// -----------------------------------------------------------------------------------------


                tap_dance_mod_tap: tap_dance_mod_tap {
                        compatible = "zmk,behavior-tap-dance";
                        label = "tap_dance_mod_tap";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&mt LSHIFT CAPSLOCK>, <&kp LCTRL>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------


// CAPA DEFAULT
// |   ESC  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP  |
// |SHFT TAB|  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  | ; : |  ' "  |
// |  CTRL  |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   | , < | . > | / ? |CAPSLOCK 
//                                                                            SHIFT CTRL|
//            | GUI | L1 (L3) | SPC L4(6) |   | ENT L5(6) | L2 (L3) | ALT |

                default_layer {
                        label = "default";
                        bindings = <
   &kp ESC   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &mt LSHFT TAB  &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &tap_dance_mod_tap
                  &kp LGUI &mo 1 &lt layerFour SPACE   &lt layerFive RET &mo 2 &kp RALT
                        >;
                };


// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------


// CAPA 1
// |  ESC   | 1 ! |  2 @  |  3 #  | 4 $ | 5 % |   | 6 ^ | 7 & | 8 *   | 9 (     | 0 ) | BKSP  |
//  SHF TAB |     |       |       |     |     |   | LFT | DWN | UP    | RGT     |     |       |
// | CTRL   |     |       |   F5  | F6  |  F8 |   |HOME |END  |PAGE_UP|PAGE_DOWN|     |CAPSLOCK 
//                                                                                    SHIFT CTRL|
//            | GUI | L1 (L3) | SPC L4(6) |   | ENT L5(6) | L2 (L3) | ALT |

                layerOne_layer {
                        label = "layerOne";
                        bindings = <
   &trans  &kp N1 &kp N2  &kp N3  &kp N4     &kp N5          &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &trans
   &trans  &none  &none &none  &none      &none              &kp LEFT &kp DOWN &kp UP &kp RIGHT  &none &none
   &trans  &none   &none  &kp F5  &kp F6 &kp F8                 &kp HOME &kp END &kp PAGE_UP  &kp PAGE_DOWN     &none  &trans
   &trans     &trans       &trans                                                      &trans  &trans   &trans
                        >;
                };


// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------


// CAPA 2
// |   ESC  |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP  |
// |SHFT TAB|     |     |     |     |  /  |   |  -  |  =  |  [  |  ]  |  \  |   `   |
// | CTRL   |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |CAPSLOCK 
//                                                                          SHIFT CTRL|
//            | GUI | L1 (L3) | SPC L4(6) |   | ENT L5(6) | L2 (L3) | ALT |

                layerTwo_layer {
                        label = "layerTwo";
                        bindings = <
   &trans  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT                  &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &trans
   &trans  &none   &none &none   &none   &kp KP_DIVIDE                  &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &trans  &none   &none &none   &none   &none                          &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &trans
                &trans &trans   &trans                                          &trans   &trans    &trans
                        >;
                };


// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------


// CAPA 3
// |   ESC  |  F1 |  F2 |  F3 |  F4   |  F5   |   |  F6  |  F7 |  F8 |  F9 | F10 | BKSP  |
// |SHFT TAB| BT1 | BT2 | BT3 | BT4   | BT5   |   |BT_CLR|     |     | F11 | F12 |       |
// | CTRL   |     |     |     |BRILLO-|BRILLO+|   |VOL - |VOL +|MUTE |     |     |CAPSLOCK 
//                                                                               SHIFT CTRL|
//            | GUI | L1 (L3) | SPC L4(6) |   | ENT L5(6) | L2 (L3) | ALT |

                layerThree_layer {
                        label = "layerThree";
                        bindings = <
        &trans &kp F1 &kp F2 &kp F3 &kp F4 &kp F5                                       &kp F6 &kp F7 &kp F8 &kp F9  &kp F10 &trans
        &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4         &bt BT_CLR &none &none &kp F11 &kp F12 &none
        &trans &none &none &none &kp C_BRIGHTNESS_DEC &kp C_BRIGHTNESS_INC              &kp C_VOLUME_UP &kp C_VOLUME_DOWN &kp K_MUTE &none &none &trans
                    	     &trans &trans &trans                                               &trans &trans &trans
                        >;
                };


// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------


// CAPA 4
// |   ESC  |     |     |     |     |     |   |  7  |  8  |  9  |  =  |  %  | BKSP  |
// |SHFT TAB|     |     |     |     |     |   |  4  |  5  |  6  |  *  |  /  |       |
// | CTRL   |     |     |     |     |     |   |  1  |  2  |  3  |  +  |  -  |CAPSLOCK 
//                                                                          SHIFT CTRL|
//            | GUI | L1 (L3) | SPC L4(6) |   | ENT L5(6) | L2 (L3) | 0 |

                layerFour_layer {
                        label = "layerFour";
                        bindings = <
        &trans &none &none &none &none &none                    &kp N7 &kp N8 &kp N9 &kp EQUAL &kp PRCNT &trans
        &trans &none &none &none &none &none                    &kp N4 &kp N5 &kp N6 &kp KP_MULTIPLY &kp FSLH &none
        &trans &none &none &none &none &none                    &kp N1 &kp N2 &kp N3 &kp PLUS &kp MINUS &trans
                    	     &trans &trans &trans                       &trans &trans &kp N0
                        >;
                };


// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------


// CAPA 5
// |   ESC  |     |     | é/É |     |     |   |     | ú/Ú | í/Í | ó/Ó |     | BKSP  |
// |SHFT TAB| á/Á |     |     |     |     |   |     |     |  UP |     |     |       |
// | CTRL   |     |     |     |     |     |   | ñ/Ñ | LFT | DWN | RGT |     |CAPSLOCK 
//                                                                          SHIFT CTRL|
//            | GUI | L1 (L3) | SPC L4(6) |   | ENT L5(6) | L2 (L3) | ALT |

                layerFive_layer {
                        label = "layerFive";
                        bindings = <
        &trans &none &none &tildeE &none &none                  &none &tildeU  &tildeI   &tildeO     &none &trans
        &trans &tildeA &none &none &none &none                  &none &none    &kp UP    &none     &none &none
        &trans &none &none &none &none &none                    &specialN &kp LEFT &kp DOWN &kp RIGHT &none &trans
                    	     &trans &trans &trans                       &trans &trans &trans
                        >;
                };


// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------


// CAPA 6
// |   ESC  |     |     |     |     |     |   |     |     |     |     |     |     | BKSP  |
// |SHFT TAB|     |     |     |     |     |   |     |     |     |     |     |     |       |
// | CTRL   |     |     |     |     |     |   |     |     |     |     |     |     |CAPSLOCK 
//                                                                                SHIFT CTRL|
//            | GUI | L1 (L3) | SPC L4(6) |   | ENT L5(6) | L2 (L3) | ALT |

                layerSix_layer {
                        label = "layerSix";
                        bindings = <
        &trans &none &none &none &none &none                    &none &none &none &none &none  &trans
        &trans &none &none &none &none &none                    &none &none &none &none &none  &none
        &trans &none &none &none &none &none                    &none &none &none &none &none &trans
                    	     &trans &trans &trans                       &trans &trans &trans
                        >;
                };


// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------


        };
};
