/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define default 0
#define lower   1
#define upper   2
#define adjust  3
#define another  4
#define another1 5
#define another2  6
#define another3  7
#define another4  8

/ {

        conditional_layers {
            compatible = "zmk,conditional-layers";
            config_from_default {
                if-layers = <lower upper>;
                then-layer = <adjust>;
            };
        };

        macros {
                screenshotM: screenshotM {
                        label = "screenshotMac";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LGUI>
                                , <&macro_press &kp LSHFT>
                                , <&macro_press &kp N4>
                                , <&macro_release &kp LGUI>
                                , <&macro_release &kp LSHFT>
                                , <&macro_release &kp N4>
                                ;
                };

                 shiftBack: shiftBack {
                        label = "shiftBack";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LSHFT>
                                , <&macro_tap &kp TAB>
                                , <&macro_release &kp LSHFT>
                                ;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    |  GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        label = "default";
        bindings = <
   &lt another4 ESC   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &lt another3 BSPC
   &mt LSHFT TAB  &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &lt another LSHFT
                  &kp LGUI &mo 1 &lt another1 SPACE   &lt another2 RET &mo 2 &kp RALT
                        >;
                };



                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |VOL U|VOL D|     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        label = "lower";
                        bindings = <
   &trans    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &trans
   &trans &trans  &kp C_BRIGHTNESS_DEC &kp C_BRIGHTNESS_INC   &trans   &trans    &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &trans &trans  &kp C_VOLUME_DOWN    &kp C_VOLUME_UP       &kp K_MUTE       &kp C_MUTE         &trans   &trans   &trans &trans    &trans &trans
                          	        &trans     &trans       &trans      &trans  &trans   &trans
                        >;
                };



                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        label = "upper";
                        bindings = <
   &trans  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &trans
   &trans &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &trans &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &trans
                    	     &trans &trans   &trans   &trans   &trans    &trans
                        >;
                };


                adjust_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        label = "adjust";
                        bindings = <
        &trans &none &none &none &none &none      &none &none &none &none &none &trans
        &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4      &none &none &none &none &none &none
        &trans &none &none &none &none &none      &none &none &none &none &none &trans
                    	     &trans &trans &trans      &trans &trans &trans
                        >;
                };


                another_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        label = "another";
                        bindings = <
        &trans &screenshotM &none &none &none &none      &none &none &none &none &none &trans
        &shiftBack &none &none &none &none &none      &none &none &none &none &none &none
        &trans &none &none &none &none &none      &none &none &none &none &none &trans
                    	     &trans &trans &trans      &trans &trans &trans
                        >;
                };



                another1_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        label = "another1";
                        bindings = <
        &trans &none &none &none &none &none      &kp N7 &kp N8 &kp N9 &kp EQUAL &kp PRCNT &trans
        &trans &none &none &none &none &none      &kp N4 &kp N5 &kp N6 &kp KP_MULTIPLY &kp FSLH &none
        &trans &none &none &none &none &none      &kp N1 &kp N2 &kp N3 &kp PLUS &kp MINUS &trans
                    	     &trans &trans &trans      &trans &trans &kp N0
                        >;
                };



                another2_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        label = "another2";
                        bindings = <
        &trans &none &none &none &none &none      &none &none &kp UP &none &none &trans
        &trans &none &none &none &none &none      &none &kp LEFT &kp DOWN &kp RIGHT &none &none
        &trans &none &none &none &none &none      &none &none &none &none &none &trans
                    	     &trans &trans &trans      &trans &trans &trans
                        >;
                };



                another3_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        label = "another3";
                        bindings = <
        &trans &none &none &none &none &none      &none &none &none &none &none &trans
        &trans &none &none &none &none &none      &none &none &none &none &none &none
        &trans &none &none &none &none &none      &none &none &none &none &none &trans
                    	     &trans &trans &trans      &trans &trans &trans
                        >;
                };


                another4_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        label = "another4";
                        bindings = <
        &trans &none &none &none &none &none      &none &none &none &none &none &trans
        &trans &none &none &none &none &none      &none &none &none &none &none &none
        &trans &none &none &none &none &none      &none &none &none &none &none &trans
                    	     &trans &trans &trans      &trans &trans &trans
                        >;
                };



        };
};
